:root {
  --color-surface-1: #0f0f0f;
  --color-surface-2: #272727;
  --color-surface-3: #434343;
  --color-text-1: #ffffff;
  --color-text-2: #aeaeae;

  --color-cta-primary: #5711d1;
  --color-cta-primary-highlight: #6a24e1;
  --color-cta-primary-text: #ffffff;

  --font-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --focus-outline: 1px solid var(--focus-outline-color);
  --focus-outline-color: #8690a0;
  --focus-outline-offset: 3px;

  --transition-speed: 150ms;
  --transitions: color var(--transition-speed),
    border-color var(--transition-speed),
    background-color var(--transition-speed), box-shadow var(--transition-speed),
    opacity var(--transition-speed);
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-family: var(--font-primary);
  background: var(--color-surface-1);
  color: var(--color-text-2);
}

#__next {
  height: 100%;
}
